name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unix-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        emacs_version:
          - 26.3
          - 27.1
          - 27.2
          - snapshot

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architecture: 'x64'

      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - uses: conao3/setup-cask@master
        with:
          version: 'snapshot'

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rust-src

      - name: Install Rust Analyzer
        env:
          RUST_ANALYZER_VERSION: 2020-04-20
        run: |
          mkdir -p $HOME/bin
          wget https://github.com/rust-analyzer/rust-analyzer/releases/download/$RUST_ANALYZER_VERSION/rust-analyzer-linux -O $HOME/bin/rust-analyzer
          chmod +x $HOME/bin/rust-analyzer

      - name: Run tests
        run: 'make ci'

  windows-test:
    runs-on: windows-latest
    strategy:
      matrix:
        emacs-version:
          - 26.3
          - 27.1
          - 27.2
          - snapshot

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architecture: 'x64'

      - uses: jcs090218/setup-emacs-windows@master
        with:
          version: ${{ matrix.emacs-version }}

      - uses: conao3/setup-cask@master
        with:
          version: 'snapshot'

      - name: Run tests
        run: 'make ci'
