name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version:
          - 26.3
          - 27.1
          - 27.2
          - 28.1
          - snapshot

    steps:
      - uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: emacs-eask/setup-eask@master
        with:
          version: '0.6.27'

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rust-src

      - name: Install Rust Analyzer
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        env:
          RUST_ANALYZER_VERSION: 2020-04-20
        run: |
          mkdir -p $HOME/bin
          wget https://github.com/rust-analyzer/rust-analyzer/releases/download/$RUST_ANALYZER_VERSION/rust-analyzer-linux -O $HOME/bin/rust-analyzer
          chmod +x $HOME/bin/rust-analyzer

      - uses: actions/checkout@v2

      - name: Run tests
        run: 'make ci'
